
/*----------   CSS FOR THE LOGIN PAGE   ----------*/



/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap'); /*Noto Sans JP Font*/

:root {
  --white: #fff;
  --black: #221f1f;
  --lightpurple: #9e91f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


body {
	position: relative;
	background-image: url('../images/background.jpg'); /*This is what is used throughout my website as the background*/
	background-repeat: no-repeat;
	background-position: center;	
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
}

.container {
	display: grid;
	grid-template-columns: 100px 150px auto;
	grid-template-rows: auto auto auto 1fr;
	height: 100vh;
}

a:hover {color:#1c1a54;}  /*mouse over link */

.nav {
	grid-column-start: 1;
	grid-column-end:span 3;
	position: relative;
	grid-row-start: 2;
	grid-row-end:span 2;
}

.nav img{
	position: relative;
	width: 100%;
  	height: auto;
    display: block;
	grid-row-start: 1;
	grid-row-end:span 2;
}

.middle {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.middle h1 {
	text-align: center;	
	font-size: auto;
	font-family: 'Noto Sans JP', sans-serif;
}
  
.section{
	background-color: rgba(211,211,211, 0.6);
	grid-column-start: 1;
	grid-column-end:span 3;
	grid-row: 4;
	width: 50%;
	height: auto;
	overflow: hidden;
	margin: auto;
	border: 2px solid #fff;
	text-align: center;
	border-radius: 20px;
}

.section label, input, h2, h3, form {
	width: 100%;
	height: auto;
	padding: 2%;
	font-size: auto;
	font-family: 'Noto Sans JP', sans-serif;
	border-radius: 30px;
}

.section input {
	margin: 2%;	
	border-radius: 30px;
}

.section a {
	margin: 2%;	
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0.6);
	border: 2px solid #000;
}

.section button {
	margin: 2%;	
	border-radius: 30px;
	background-color: rgba(10, 102, 21, 0.6);
	border: 2px solid #000;		
}
  
h1 {
	color: white;	
}

h2 {
	padding: 10px;
	font-weight:bold;
	font-style:italic;
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;
}

h3 {
	padding: 10px;
	font-weight:bold;
	font-style:italic;
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;	
	color: white;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 10px;
}
